source https://www.nuget.org/api/v2
storage: none

nuget coverlet.msbuild
nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit3TestAdapter
nuget FsUnit
nuget Fable.Core 2.0.0
nuget Fable.Elmish prerelease
nuget Fable.React prerelease
nuget Reaction 0.13.1
