source https://www.nuget.org/api/v2

group Server
    storage: none
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1

    nuget FSharp.Core
    nuget Giraffe
    nuget Microsoft.AspNetCore
    nuget Microsoft.AspNetCore.StaticFiles
    nuget Fable.JsonConverter
    nuget FSharp.Control.AsyncRx
    nuget Reaction.AspNetCore.Middleware
    nuget Microsoft.AspNetCore.WebSockets
    nuget Thoth.Json.Net ~> 2

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fable.Core ~> 3
    nuget Fable.Elmish ~> 3
    nuget Fable.Elmish.Debugger ~> 3
    nuget Fable.Elmish.React ~> 3
    nuget Fable.Elmish.HMR ~> 4
    nuget Fable.Elmish.Browser  ~> 3
    nuget Fable.React ~> 5
    nuget Fable.Reaction ~> 3
    nuget Fable.FontAwesome.Free ~> 2
    nuget Fable.Elmish.Streams ~> 3
    nuget Fable.Fetch
    nuget Fulma ~> 2
    nuget Fulma.Extensions.Wikiki.Switch

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core 4.3.4 // https://github.com/fsharp/FAKE/issues/2001
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Runtime

