group AsyncRx

source https://www.nuget.org/api/v2
framework: netstandard2.0

nuget FSharp.Core ~> 4.7
nuget FSharp.Control.AsyncSeq

group Test
source https://www.nuget.org/api/v2
framework: netcoreapp3.1

nuget coverlet.msbuild
nuget FSharp.Control.AsyncSeq
nuget Microsoft.NET.Test.Sdk
nuget Expecto
