storage: none
source https://api.nuget.org/v3/index.json

group Server
    storage: none
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    nuget FSharp.Core
    nuget Giraffe ~> 3
    nuget Microsoft.AspNetCore
    nuget Microsoft.AspNetCore.StaticFiles
    nuget Fable.JsonConverter
    nuget TaskBuilder.fs

group Client
    storage: none
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0

    nuget Fable.Core ~> 3
    nuget Fable.Reaction ~> 3
    nuget Fable.Import.Browser ~> 1
    nuget Fable.Browser.Dom

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem


